// accordion

.accordion {
    --bs-accordion-btn-icon-width: 1.87rem;

    .accordion-header button {
        font-size: 1.2rem;

        &::after {
            margin-left: unset;
        }
    }
}

.mvp-logo {
    max-width: 60px;
}

.ace-logo,
.agent-icon {
    max-width: 3.2rem;

    &-small {
        max-width: 1.25rem;
    }
}

.badge-mvp,
.badge-ace {
    @extend .badge;
    width: 50px;
}

.youtube {
    .fa-youtube {
        color: $youtube;
    }

    span a {
        color: $accordion-button-color;
    }
}

.accordion-button {
    background-size: cover;
    background-position: center;
}

button:not(.collapsed) {

    .fa-youtube,
    a {
        color: white;
    }
}