// Custom colors
$primary-red: #fd4556;
$dark: #0f1923;
$title: #ece8e0;

// Brand colors
$google: #ff0000;
$youtube: #ff0000;
$discord: #5865F2;

// Maps
$custom-colors: (
    "primary-red": $primary-red,
    "title": $title
);

$providers: (
    discord: $discord,
    google: $google
);

$display-font-sizes: (
    1: 6rem,
    2: 5.5rem,
    3: 5rem,
    4: 4.5rem,
    5: 4rem,
    6: 3.5rem
);

$alert-icons: (
    "danger": '\f06a',
    "success": '\f058',
    "warning": '\f071',
    "info": '\f05a',
);