{% extends "global/base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
{% get_providers as socialaccount_providers %}


<main>
    <div class="login-background d-flex justify-content-center align-items-center" style="background-image: url('{% static 'global/assets/login_bg.jpg' %}');">
        <div class="form-container bg-white p-5 rounded">
            <form action="#" method="post" class="">
                {% csrf_token %}
                <div class="login-form">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        {% for field in form %}
                        <div class="form-fields">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="input-group border-bottom shadow-sm">
                                <span class="input-group-text bg-transparent border-0" id="basic-addon1"><i class="fa-regular fa-user"></i></span>
                                {{ field }}
                            </div>
                            {% for error in field.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                            {% if field.help_text %}
                            <p class="form-text help-text text-end">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-red">Login</button>
                    </div>
            </form>
        </div>
        {% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
        <a href="{% provider_login_url provider.id %}" class="btn btn-red rounded-circle">
            <i class="fa-brands fa-google"></i>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</main>

{% endblock content %}