{% extends "global/base.html" %}
{% load static %}
{% load matches %}
{% block content %}

{% include "global/partials/navbar.html" %}

<main class="">
    <div class="container bg-dark mt-0 mt-sm-3">
        <div class="row gap-2 profile px-3 px-md-5 py-3">
            <h2 class="display-3 text-primary-red">
                Profile: <span class="text-title">{{player.username}}</span>
            </h2>
            <div class="col-12 col-xl profile-picture" >
                  <img src= {% static player.main_agent.full_portrait %} class="img-fluid main_agent_portrait" alt="..." style="background-image: url({% static player.main_agent.background %});">
            </div>
            <div class="col-12 col-xl">
                <div class="container-responsive">
                    <div class="row gap-2 text-light">
                        <div class="profile-info position-relative col-12 px-md-5 col-md-auto text-center text-lg-start rounded p-3">
                            <div>
                                <h3 class="text-primary-red fs-1">Player Info</h3>
                                {% if can_edit %}
                                <button class="btn-icon" id="editButton">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                {% endif %}
                            </div>
                            <div id="playerInfo">
                                <p><span class="fw-bold">Username:</span> {{player.username}}</p>
                                <p><span class="fw-bold">Main Agent:</span> {{player.main_agent}}</p>
                                <img src={% static player.tier.small_icon %} alt="tier icon"> <span>{{player.tier}}</span>
                            </div>
                            {% if can_edit %}
                            <form method="POST" id="editForm" class="rounded d-none">
                                {% csrf_token %}
                                {% include "global/partials/forms.html" %}
                                <button type="button" class="btn btn-outline-primary-red w-100 mt-1" id="cancelButton">
                                    Cancel
                                </button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="profile-stats col-12 col-md p-3 rounded d-flex flex-column gap-4">
                            <h3 class="text-primary-red fs-1">Player Stats</h3>
                            <div class="row align-content-center justify-content-center">
                                <div class="col-4">
                                    <p><spam class="fw-bold">Matches Played</spam>: {{player.total_matches}}</p>
                                    <p><spam class="fw-bold">Matches Won</spam>: {{player.wins}}</p>
                                    <p><spam class="fw-bold">Matches Lost</spam>: {{player.losses}}</p>
                                </div>
                                <div class="col-4">
                                    <p><spam class="fw-bold">K/D Ratio</spam>: {{player.kda|floatformat:2}}</p>
                                    <p><spam class="fw-bold">MVP's</spam>: {{player.mvp}}</p>
                                    <p><spam class="fw-bold">ACE's</spam>: {{player.ace}}</p>
                                </div>
                                <div class="col-4">
                                    <p><spam class="fw-bold">Rank</spam>: {{player.rankinglog.last_position}}</p>
                                    <p><spam class="fw-bold">Rank Points</spam>: {{player.points}}</p>
                                    <p><spam class="fw-bold">Win Rate</spam>: {{player.win_rate|floatformat:2}}%</p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-matches col-12 rounded p-3 col-12">
                            <h3 class="text-primary-red fs-1">Match History</h3>
                            {% match_history %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static "players/js/profile_edit.js" %}"></script>

{% endblock content %}