@import "../../../node_modules/bootstrap/scss/functions";

$red: #fd4556;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    "red": $red,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "partials/full_heigh_body";

.bg-red,
.btn-red,
.btn-outline-red:hover,
.btn-outline-red:focus,
.btn-outline-red:active {
    @extend .text-light;
}

.social-icons-container {
    gap: 16px;

    .fa-youtube,
    .fa-discord {
        transition: color 0.3s ease, transform 0.5s ease;
    }

    .fa-youtube {
        color: #ff0000;
    }

    .fa-discord {
        color: #7289da;
    }
}

.fa-youtube:hover {
    color: $red;
}

.fa-discord:hover {
    color: #48578d;
}

.fa-github:hover {
    color: #333;
}

.jump-animation:hover {
    animation: translateY 500ms 4 alternate;
}

/* Footer  */

.footer-logo p {
    font-size: 12px;
    margin-top: 10px;
}

/* Keyframes */
@keyframes translateY {
    from {
        transform: translateY(0);
        scale: 1;
    }

    to {
        transform: translateY(-10px);
        scale: 1.1;
    }
}