@import "../../../node_modules/bootstrap/scss/functions";

@import "partials/custom_colors";
@import "partials/custom_settings";

// $accordion-padding-y: 1rem;
// $accordion-padding-x: 1.25rem;

// $accordion-icon-color: $red; // cor do ícone
// $accordion-icon-active-color: $title; // cor do ícone ativo

@import "../../../node_modules/bootstrap/scss/variables";

// $accordion-color: $dark; // cor do texto body
// $accordion-bg: $warning; // cor do header e do body
// $accordion-border-width: 5px; // largura da borda
// $accordion-border-color: green; // cor da borda
// $accordion-border-radius: var(--#{$prefix}border-radius); // raio da borda

// $accordion-body-padding-y: $accordion-padding-y; // padding do body

// $accordion-button-padding-y: $accordion-padding-y; // padding do botão
// $accordion-button-padding-x: $accordion-padding-x;
$accordion-button-color: $dark; // cor do texto do botão
$accordion-button-bg: $title; //cor especificamente do botão
// $accordion-transition: $btn-transition, border-radius .15s ease;
$accordion-button-active-bg: $red; // cor do botão ativo
$accordion-button-active-color: $dark; // cor do texto do botão ativo

// $accordion-icon-width: 1.25rem; // largura do ícone


@import "../../../node_modules/bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "partials/custom_mixins";

html {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }
}

.bg-red {
    color: $title;

    .btn-outline-light:hover {
        @extend .text-red;
    }
}

// verificar
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.fa-youtube {
    @include fa-brand-icon($youtube);
}

.fa-discord {
    @include fa-brand-icon($discord);
}

.fa-github {
    @include fa-brand-icon($black);
}

.jump-animation:hover {
    animation: translateY 500ms 4 alternate;
}

.position-md-absolute {
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 12, 5%;
        left: 12, 5%;
    }
}



table.result-point {
    tr {
        td {
            img {
                max-width: 80px;
                margin-right: 11px;
            }
        }
    }

    tfoot {
        td {
            background-color: transparent;
            border: none;
            font-size: 0.8rem;
        }
    }

    .fa-caret-down {
        color: red;
    }

    .fa-caret-up {
        color: green;
    }
}

.login-background {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.help-text a {
    text-decoration: none;
    color: $black;
}

/* Keyframes */
@keyframes translateY {
    from {
        transform: translateY(0);
        scale: 1;
    }

    to {
        transform: translateY(-5px);
        scale: 1.1;
    }
}


.messages-container {
    .alert {
        position: relative;
        padding-left: 2rem;
        max-width: 20rem;
        position: fixed;
        left: 25px;
        z-index: 99;

        &.alert-index-1 {
            bottom: 5px;
        }

        &.alert-index-2 {
            bottom: 125px;
        }


        &::before {
            content: '';
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .text-bg-danger::before {
        content: '\f06a';
    }

    .text-bg-success::before {
        content: '\f058';
    }

    .text-bg-warning::before {
        content: '\f071';
    }

    .text-bg-info::before {
        content: '\f05a';
    }
}


.social-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container-social {
    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1rem;
    }

    i {
        color: $light;
    }
}



@media (min-width: 992px) {
    .container-social {
        max-width: 40%;

        h2 {
            font-size: 8rem;
        }

        p {
            font-size: 2rem;
        }
    }
}
