@import "../../../node_modules/bootstrap/scss/functions";

$red: #fd4556;
$min-contrast-ratio: 3.4;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    "red": $red,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "partials/custom_mixins";
@import "partials/full_heigh_body";

.bg-red {
    @extend .text-light;

    .btn-outline-light:hover {
        @extend .text-red;
    }
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.social-icons-container {

    gap: 16px;

    .fa-youtube,
    .fa-discord {
        transition: color 0.3s ease, transform 0.5s ease;
    }

    .fa-youtube {
        color: #ff0000;
    }

    .fa-discord {
        color: #7289da;
    }
}

.fa-youtube:hover {
    color: $red;
}

.fa-discord:hover {
    color: #48578d;
}

.fa-github:hover {
    color: #333;
}

.jump-animation:hover {
    animation: translateY 500ms 4 alternate;
}

.carousel-caption {
    z-index: 2;
}

/* Footer  */

.footer-logo p {
    font-size: 12px;
    margin-top: 10px;
}

.position-md-absolute {
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 12, 5%;
        left: 12, 5%;
    }
}

/* Keyframes */
@keyframes translateY {
    from {
        transform: translateY(0);
        scale: 1;
    }

    to {
        transform: translateY(-10px);
        scale: 1.1;
    }
}