{% load static %}
{% load i18n %}

<footer class="text-center">
    <div class="container footer-container">
        <div class="row align-items-center py-3">
            <div class="col-md-4 text-md-start fs-5">
                <p>© 2024 LAVAVA</p>
            </div>
            <div class="col-md-4 footer-logo"><img src={% static 'global/assets/lavava_logo_white_bg.png' %} alt="lavava_logo"
                    class="lavava-logo img-fluid">
                <small class="d-flex pt-2">
                    {% trans "Riot Games, Valorant, and all associated properties are trademarks or registered trademarks of Riot Games, Inc." %}
                </small>
            </div>
            <div class="footer-brand-icons col-md-4 text-md-end fs-4">
                <a href="#" class="link-dark"><i class="fa-brands fa-youtube mx-1"></i></a>
                <a href="https://discord.com/invite/MJAuKdsV?utm_source=Discord%20Widget&utm_medium=Connect" class="link-dark" target="_blank"><i class="fa-brands fa-discord mx-1"></i></a>
                <a href="https://github.com/AroMight/valorant-amateur-league" class="link-dark" target="_blank"><i class="fa-brands fa-github mx-1"></i></a>
            </div>
        </div>
    </div>
</footer>