{% load form_utils %}

{% for field in form %}
<div class="form-fields mt-3">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.label == "I want to be included in the draft" %}
    {{field}}
    {% else %}
    <div class="input-group bg-white border-bottom shadow-sm">
        <span class="input-group-text bg-transparent border-0" id="basic-addon1">
            {{field.html_name|field_icon}}
        </span>
        {{ field }}
    </div>
    {% endif %}
    {% for error in field.errors %}
    <p class="text-danger">
        {{ error }}
    </p>
    {% endfor %}
    {% if field.help_text %}
    {% if field.name == 'password1' %}
    <p class="mt-1">
        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapse" role="button"
            aria-expanded="false" aria-controls="collapse">
            Password tips
        </a>
    </p>
    <div class="collapse" id="collapse">
        <div class="card card-body">
            <p class="form-text help-text text-end">{{ field.help_text }}</p>
        </div>
    </div>
    {% else %}
    <p class="form-text help-text text-end">{{ field.help_text }}</p>
    {% endif %}
    {% endif %}
</div>
{% endfor %}
<button type="submit" class="btn btn-primary-red mt-3 w-100">{{submit_text}}</button>