{% load static %}

<nav class="navbar navbar-expand-md text-bg-dark">
    <div class="container-fluid d-flex px-5">
        <a class="navbar-brand" href="/">
            <img src="{% static 'global/assets/lavava_logo.webp' %}" alt="Logo da Lavava" class="lavava-logo img-fluid">
        </a>
        <button class="btn btn-outline-primary-red border-0 d-md-none" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions" aria-expanded="false" aria-label="Toggle navigation">
            <div class="d-flex">
                <i class="fa-solid fa-caret-down fs-2"></i>
                <h4 class="ms-2 mb-0 h2 fw-semibold">Menu</h4>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url "home" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "matches:history" %}">Match History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Admin Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Shop</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item d-md-none">
                    <a class="text-red nav-link" href="{% url "account_login" %}">Sign in</a>
                </li>
                {% endif %}
            </ul>

            <!-- Botão de login à direita -->
            {% if not user.is_authenticated %}
            <ul class="navbar-nav ms-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="btn btn-outline-primary-red rounded-0" role="button" href="{% url "account_login" %}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary-red rounded-0" role="button" href="/accounts/signup">Sign up</a>
                </li>
            </ul>
            {% else %}
            <!-- if user is logged -->
            <div class="ms-md-auto d-none d-md-flex">
                <button class="btn btn-outline-primary-red border-0 py-0" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                    <div class="d-flex">
                        <i class="fa-solid fa-caret-down fs-2 mt-1"></i></i>
                        <h4 class="ms-2 py-1 mb-0 fw-semibold h2">Menu</h4>
                    </div>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end bg-primary-red" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel" style="max-width: 200px;">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title h2 text-title" id="offcanvasWithBothOptionsLabel">Menu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-md-none">
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="{% url "matches:history" %}">Match History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="#">Blog</a>
            </li>
        </ul>
        <hr class="w-25 d-md-none">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{user.get_absolute_url}}">My profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My statistics</a>
            </li>
            <hr class="w-25">
            <li class="nav-item">
                <form action="{% url "account_logout" %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="nav-link">Logout</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-light w-100" role="button" href="{% url "account_login" %}">Sign in</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>