:root {
  --red-light: #fd4556;
  --red-medium: #bd3944;
  --red-dark: #53212b;

  --white: #fffbf5;
  --black: #000000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
}

.red-background {
  background-color: var(--red-light);
  color: var(--white);
}

.cta {
  color: var(--white);
}

.cta:hover {
  color: var(--red-light);
}

.centered-hr {
  max-width: 75px;
  margin: 0 auto;
}

.social-icons-container {
  gap: 16px
}

.social-icons-container .fa-youtube {
  color: #ff0000;
}

.social-icons-container .fa-youtube:hover {
  color: var(--red-medium);
  animation: translateY 500ms 4 alternate;
}


.social-icons-container .fa-discord {
  color: #7289da;
}

.social-icons-container .fa-discord:hover {
  color: #48578d;
  animation: translateY 500ms 4 alternate;
}

.feature-icon:hover {
  animation: translateY 500ms 2 alternate;
}

/* Footer  */
.footer-social-icons a {
  color: #000000;
  margin: 0 10px;
}

.footer-social-icons a:hover {
  text-decoration: none;
  color: var(--red-medium);
}

.footer-logo p {
  font-size: 12px;
  margin-top: 10px;
}

.btn-red {
  background-color: var(--red-light);
  color: var(--white);
}

.btn-red:hover {
  background-color: var(--red-medium);
  color: white
}

.btn-light {
  color: var(--red-light);
  background-color: transparent;
  border: none;
}

.btn-light:hover {
  color: var(--red-medium);
  background-color: transparent;
}

.text-red {
  color: var(--red-light);
}


/* Keyframes */
@keyframes translateY {
  from {
    transform: translateY(0);
    scale: 1;
  }

  to {
    transform: translateY(-10px);
    scale: 1.1;
  }
}

/* teeeste */

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}
