{% load static %}

<footer class="footer text-center">
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-md-4 text-md-start fs-5">
                <p>© 2024 LAVAVA</p>
            </div>
            <div class="col-md-4 footer-logo">
                <img src={% static 'lavava/assets/lavava_logo.png' %} alt="lavava_logo">
                <p>Riot Games, Valorant, and all associated properties are trademarks or registered trademarks of
                    Riot Games, Inc.</p>
            </div>
            <div class="footer-social-icons col-md-4 text-md-end fs-4">
                <a href="#" class="text-dark"><i class="fa-brands fa-youtube mx-1"></i></a>
                <a href="#" class="text-dark"><i class="fa-brands fa-discord mx-1"></i></a>
                <a href="#" class="text-dark"><i class="fa-brands fa-github mx-1"></i></a>
            </div>
        </div>
    </div>
</footer>