{% load static %}

<nav class="navbar navbar-expand-md">
    <div class="container-fluid d-flex px-5">
        <a class="navbar-brand" href="/">
            <img src="{% static 'global/assets/lavava_logo.png' %}" alt="Logo da Lavava" class="lavava-logo img-fluid">
        </a>
        <button class="btn btn-outline-red border-0 d-md-none d-flex aling-items-center" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-caret-down fs-2"></i>
            <span class="ms-2 fw-semibold">Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item d-md-none">
                    <a class="text-red nav-link" href="{% url "account_login" %}">Sign in</a>
                </li>
                {% endif %}
            </ul>

            <!-- Botão de login à direita -->
            {% if not user.is_authenticated %}
            <ul class="navbar-nav ms-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="btn btn-outline-red rounded-0" href="{% url "account_login" %}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-red rounded-0" href="/accounts/signup">Sign up</a>
                </li>
            </ul>
            {% else %}
            <!-- if user is logged -->
            <div class="ms-md-auto d-none d-md-flex">
                <button class="btn btn-outline-red border-0 d-flex align-items-center" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                    <i class="fa-solid fa-caret-down fs-2"></i></i>
                    <span class="ms-2 fw-semibold">Menu</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end bg-red" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel" style="max-width: 200px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-md-none">
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill" href="#">Blog</a>
            </li>
        </ul>
        <hr class="w-25 d-md-none">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">My account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My statistics</a>
            </li>
            <hr class="w-25">
            <li class="nav-item">
                <form action="{% url "account_logout" %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="nav-link">Logout</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-light w-100" href="{% url "account_login" %}">Sign in</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>