{% load static %}

<nav class="navbar navbar-expand-md">
    <div class="container-fluid d-flex px-5">
        <a class="navbar-brand" href="#">
            <img src="{% static 'lavava/assets/lavava_logo.png' %}" alt="Logo da Lavava">
        </a>

        <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-caret-down fs-2 text-red"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
                <li>
                    <hr class="centered-hr">
                </li>

                {% if not user.is_authenticated %}
                <li class="nav-item d-md-none">
                    <a class="ps-0 btn btn-light rounded-pill" href="#">Sign in</a>
                </li>
                {% else %}
                <!-- if user is logged -->
                <li class="nav-item d-md-none">
                    <a class="ps-0 btn btn-light rounded-pill" href="#">My account</a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="ps-0 btn btn-light rounded-pill" href="#">My statistics</a>
                </li>
                {% endif %}
            </ul>

            <!-- Botão de login à direita -->
            {% if not user.is_authenticated %}
            <ul class="navbar-nav ms-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="btn btn-light rounded-0" href="#">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-red rounded-0" href="/admin">Sign up</a>
                </li>
            </ul>
            {% else %}
            <!-- if user is logged -->
            <div class="ms-md-auto d-none d-md-flex">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                    <i class="fa-solid fa-user fa-2x text-red"></i>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<!-- off canva content -->
{% if user.is_authenticated %}
<div class="offcanvas offcanvas-end red-background" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel" style="max-width: 200px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li>
                <hr class="centered-hr">
            </li>
            <!-- if user is logged -->
            <li class="nav-item">
                <a class="ps-0 nav-link text-light rounded-pill" href="#">My account</a>
            </li>
            <li class="nav-item">
                <a class="ps-0 nav-link text-light rounded-pill" href="#">My statistics</a>
            </li>
            <li class="nav-item">
                <a class="ps-0 nav-link text-light rounded-pill" href="/admin">Logout</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}