table.result-point {
    tr {
        td {
            img {
                max-width: 80px;
                margin-right: 11px;
            }

            span a {
                text-decoration: none;
                transition: all 0.2s ease;
                color: $dark;

                &:hover {
                    text-decoration: underline;
                    color: $primary-red;
                }
            }
        }
    }

    tfoot {
        td {
            background-color: transparent;
            border: none;
            font-size: 0.8rem;
        }
    }

    .fa-caret-down {
        color: $red-400;
    }

    .fa-caret-up {
        color: $teal-600;
    }
}

.table-match-history {
    color: $dark;
    font-size: 0.9rem;
    font-weight: 500;
}

.table-winner {
    --bs-table-hover-bg: rgba(var(--bs-success-rgb), 0.4);
    --bs-table-hover-color: rgba(var(--bs-success-rgb), 1);

    thead {
        --bs-table-bg: var(--bs-success);
        --bs-table-color: var(--bs-white);
    }
}

.table-loser {
    --bs-table-hover-bg: rgba(var(--bs-danger-rgb), 0.4);
    --bs-table-hover-color: rgba(var(--bs-danger-rgb), 1);

    thead {
        --bs-table-bg: var(--bs-danger);
        --bs-table-color: var(--bs-white);
    }
}