{% extends "global/base.html" %}

{% load static %}

{% block content %}

{% include "global/partials/navbar.html" %}

<main>


  <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators z-3">
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item overlay active carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_1_large.png'%}" srcset="{% static 'lavava/assets/carrosel_1_large.png'%} 2663w,
                {% static 'lavava/assets/carrosel_1_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_1_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-start">
            <h1 class="display-1 fw-bold">WATCH THE ACTION</h1>
            <p class="fs-3">Check Our Youtube Channel</p>
            <a href="#" class="btn btn-red" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item overlay carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_2_large.png'%}" srcset="{% static 'lavava/assets/carrosel_2_large.png'%} 2663w,
                {% static 'lavava/assets/carrosel_2_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_2_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-center">
            <h1 class="display-1 fw-bold">TOP PLAYERS</h1>
            <p class="fs-3">Explore Their Perfomance</p>
            <a href="#" class="btn btn-red" target="_blank">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>



{% endblock content %}