{% extends "global/base.html" %}

{% load static %}

{% block content %}

{% include "global/partials/navbar.html" %}
<main>
  <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators z-3">
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item overlay active carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_1_large.png'%}" srcset="{% static 'lavava/assets/carrosel_1_large.png'%} 2560w,
                {% static 'lavava/assets/carrosel_1_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_1_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-start text-title">
            <h2 class="display-4 display-1-lg fw-bold">WATCH THE ACTION</h2>
            <p class="fs-3">Check Our Youtube Channel</p>
            <a href="#" role="button" class="btn btn-primary-red" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item overlay carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_2_large.png'%}" srcset="{% static 'lavava/assets/carrosel_2_large.png'%} 2663w,
                {% static 'lavava/assets/carrosel_2_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_2_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-center text-title">
            <h2 class="display-1 fw-bold">TOP PLAYERS</h2>
            <p class="fs-3">Explore Their Perfomance</p>
            <a href="#" role="button" class="btn btn-primary-red" target="_blank">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="content-info py-5 bg-light">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-8 table-responsive">
          <div class="d-flex align-items-center">
            <h2 class="me-auto display-3 text-primary-red">Ranking</h2>
            {% if user.is_staff %}
            <form method="POST">
              {% csrf_token %}
              <button type="submit" class="badge text-bg-primary-red">Update Ranking</button>
            </form>
            {% endif %}
          </div>
          <table class="table-striped table table-hover result-point text-center align-middle ">
            <thead class="table-dark">
              <tr>
                <th class="text-start">#</th>
                <th class="text-start">PLAYER</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>MVP</th>
                <th>ACE</th>
                <th>W/R</th>
                <th>KDA</th>
              </tr>
            </thead>
            <tbody class="text-center border shadow">
              {% for player in players %}
              <tr>
                <td class="text-start">{{forloop.counter}} <i class="fa {{player.position_changes}}" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src={{player.main_agent.small_icon}} class="me-2" alt="player">
                    <span><a href={{player.get_absolute_url}}>{{player.username|truncatechars:18}}</a></span>
                  </div>
                </td>
                <td>{{player.points}}</td>
                <td>{{player.wins}}</td>
                <td>{{player.losses}}</td>
                <td>{{player.mvp}}</td>
                <td>{{player.ace}}</td>
                <td>{{player.win_rate|floatformat:2}}%</td>
                <td>{{player.kda|floatformat:2}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="opacity-75 border-0">
                <td colspan="6" class="text-start fw-bold">Last update: {{ update_at|date:"d/m/Y" }}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <aside class="col-10 col-md-8 col-lg-3 mx-auto hall-of-fame">
          <!-- Card 1 -->
          {% comment %} <div class="card rounded shadow">
            <div class="card-header text-bg-dark fw-bold fs-4">
              <h3 class="m-0">Top Player</h3>
            </div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Aro Might is the player with most wins so far. His win ratio is 85,7%!
              </p>
              <a href="#" role="button" class="btn btn-primary-red">Check Profile</a>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card mt-3 shadow mt-md-4">
            <div class="card-header text-bg-dark fw-bold fs-4">
              <h3 class="m-0">Last Match</h3>
            </div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Aro Might is the player with most wins so far. His win ratio is 85,7%!
              </p>
              <a href="#" role="button" class="btn btn-primary-red">Watch on Youtube!</a>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card mt-3 shadow mt-md-4">
            <div class="card-header text-bg-dark fw-bold fs-4">
              <h3 class="m-0">Last Match</h3>
            </div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Aro Might is the player with most wins so far. His win ratio is 85,7%!
              </p>
              <a href="#" role="button" class="btn btn-primary-red">Watch on Youtube!</a>
            </div>
          </div> {% endcomment %}

            <h2 class="display-3 text-dark">Hall of Fame</h2>
            <div class="card bg-success text-title">
              <img src= {% static "lavava/assets/lp_geeko_bg.png" %} class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title h3">THE GOAT</h5>
                <p class="card-text">Aro Might is the player in the first place right now!</p>
              </div>
            </div>

        </aside>
      </div>
  </section>

</main>



{% endblock content %}