{% extends "global/base.html" %}

{% load static %}

{% block content %}

{% include "global/partials/navbar.html" %}

<main>


  <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators z-3">
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item overlay active carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_1_large.png'%}" srcset="{% static 'lavava/assets/carrosel_1_large.png'%} 2663w,
                {% static 'lavava/assets/carrosel_1_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_1_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-start">
            <h1 class="display-1 fw-bold">WATCH THE ACTION</h1>
            <p class="fs-3">Check Our Youtube Channel</p>
            <a href="#" class="btn btn-red" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item overlay carousel-overlay z-2">
        <img src="{% static 'lavava/assets/carrosel_2_large.png'%}" srcset="{% static 'lavava/assets/carrosel_2_large.png'%} 2663w,
                {% static 'lavava/assets/carrosel_2_medium.png'%} 1692w,
                {% static 'lavava/assets/carrosel_2_small.png'%} 968w" class="d-block w-100" alt="...">
        </img>
        <div class="container">
          <div class="carousel-caption z-2 text-center">
            <h1 class="display-1 fw-bold">TOP PLAYERS</h1>
            <p class="fs-3">Explore Their Perfomance</p>
            <a href="#" class="btn btn-red" target="_blank">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next z-2" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="content-info py-5 bg-light">
    <div class="container">
      <h3>Ranking</h3>
      <div class="row gy-3">
        <div class="col-lg-8 table-responsive">
          <table class="table-striped table table-hover result-point text-center align-middle ">
            <thead class="table-dark">
              <tr>
                <th class="text-start">#</th>
                <th class="text-start">PLAYER</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>WR</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td class="text-start">1 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete.png' %}" class="me-2" alt="player">
                    <span>Aro Might</span>
                  </div>
                </td>
                <td>38</td>
                <td>26</td>
                <td>9</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="text-start">2 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete10.png' %}" class="me-2" alt="player">
                    <span>Gado de B...</span>
                  </div>
                </td>
                <td>38</td>
                <td>24</td>
                <td>7</td>
                <td>7</td>
              </tr>
              <tr>
                <td class="text-start">3 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete2.png' %}" class="me-2" alt="player">
                    <span>Demolitor15</span>
                  </div>
                </td>
                <td>38</td>
                <td>22</td>
                <td>9</td>
                <td>7</td>
              </tr>
              <tr>
                <td class="text-start">4 <i class="fa fa-caret-down" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete3.png' %}" class="me-2" alt="player">
                    <span>SóQueri...</span>
                  </div>
                </td>
                <td>62</td>
                <td>37</td>
                <td>+25</td>
                <td>70</td>
              </tr>
              <tr>
                <td class="text-start">5 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete4.png' %}" class="me-2" alt="player">
                    <span>Klauz</span>
                  </div>
                </td>
                <td>38</td>
                <td>19</td>
                <td>7</td>
                <td>12</td>
              </tr>
              <tr>
                <td class="text-start">6 <i class="fa fa-caret-down" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete5.png' %}" class="me-2" alt="player">
                    <span>Kickes</span>
                  </div>
                </td>
                <td>38</td>
                <td>18</td>
                <td>8</td>
                <td>12</td>
              </tr>
              <tr>
                <td class="text-start">7 <i class="fa fa-caret-down" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete6.png' %}" class="me-2" alt="player">
                    <span>Taifu</span>
                  </div>
                </td>
                <td>38</td>
                <td>18</td>
                <td>6</td>
                <td>14</td>
              </tr>
              <tr>
                <td class="text-start">8 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete7.png' %}" class="me-2" alt="player">
                    <span>Leozin</span>
                  </div>
                </td>
                <td>38</td>
                <td>12</td>
                <td>11</td>
                <td>15</td>
              </tr>
              <tr>
                <td class="text-start">9 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete8.png' %}" class="me-2" alt="player">
                    <span>Bielzin</span>
                  </div>
                </td>
                <td>38</td>
                <td>26</td>
                <td>9</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="text-start">10 <i class="fa fa-caret-down" aria-hidden="true"></i></td>
                <td class="text-start">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'lavava/assets/delete9.png' %}" class="me-2" alt="player">
                    <span>Fran</span>
                  </div>
                </td>
                <td>38</td>
                <td>24</td>
                <td>7</td>
                <td>7</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="opacity-75 border-0">
                <td colspan="6" class="text-start fw-bold">Last updated: 12/31/2024</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-lg-3">
          <div class="card">
            <div class="card-header fw-bold fs-4">
              Top Player
            </div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top 1</h5>
              <p class="card-text">Aro Might is the player with most wins so far. His win ratio is 85,7%!
              </p>
              <a href="#" class="btn btn-red">Check Profile</a>
            </div>
          </div>
          <div class="card mt-1">
            <div class="card-header fw-bold fs-4">
              Top Player
            </div>
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top 1</h5>
              <p class="card-text">Aro Might is the player with most wins so far. His win ratio is 85,7%!
              </p>
              <a href="#" class="btn btn-red">Check Profile</a>
            </div>
          </div>
        </div>
      </div>
  </section>

</main>



{% endblock content %}