{% extends "global/base.html" %}
{% load static %}

{% block content %}
    <header class="p-3">
        <div class="text-center">
            <img src={% static 'lavava/assets/lavava_logo.png'%} alt="lavava logo">
        </div>
    </header>

    <main class="landing-page mb-4 bg-red">
        <div class="hero container">
            <div class="hero-content row justify-content-center align-items-center p-2">
                <div class="hero-image col-12 col-md-5">
                    <img src={% static 'lavava/assets/lp_geeko_bg.png'%} alt="hero-image" class="img-fluid">
                </div>
                <div class="hero-text col-12 col-md-5 m-3 text-center text-md-end">
                    <h1 class="display-1 display-sm-2 display-md-3 display-lg-4 fw-semibold">WELCOME TO LAVAVA</h1>
                    <p class="fs-4">Follow the standings, statistics, and much more of the Valorant Amateur League.</p>
                    <a type="btn" href="/home" class="btn btn-outline-light btn-lg rounded-0">
                        Join the fun!
                    </a>
                </div>
            </div>
    </main>

    <section class="section-social mb-4">
        <div class="container container-social text-center">
            <h2>
                Follow us for more!
            </h2>
            <hr class="w-25 mx-auto">
            <p> Join the Youtube and Discord communities and see what's going on.</p>
            <div class="social-icons-container d-flex justify-content-center">
                <a href="#" target="_blank"><i class="fa-brands fa-youtube fs-2 jump-animation"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-discord fs-2 jump-animation"></i></a>
            </div>
        </div>
    </section>

    <section class="section-features bg-dark p-4 d-flex justify-content-center">
        <div class="container container-features text-center text-light row gx-5 gy-2">

            <div class="feature col-12 col-md-4">
                <div class="feature-title">
                    <i class="jump-animation fa-solid fa-video fs-1 mb-2 border rounded-circle p-3"></i>
                    <h3>WATCH PAST MATCHES</h3>
                </div>
                <hr class="w-25 mx-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            </div>

            <div class="feature col-12 col-md-4">
                <div class="feature-title">
                    <i class="jump-animation fa-solid fa-ranking-star fs-1 mb-2 border rounded-circle p-3"></i>
                    <h3>FOLLOW THE RANKINGS</h3>
                </div>
                <hr class="w-25 mx-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            </div>
            <div class="feature col-12 col-md-4">
                <div class="feature-title">
                    <i class="jump-animation fa-solid fa-chart-line fs-1 mb-2 border rounded-circle p-3"></i>
                    <h3>SEE PLAYERS STATISTICS</h3>
                </div>
                <hr class="w-25 mx-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </div>
    </section>

{% endblock content %}